:root{
    --main-color: orange;
    --main-color-white: white;
    --main-color-gray: #ccc;
    --main-color-screen:#2a4556
}
body{
    padding: 0;
    margin: 0
   
}
.b{
  border: 1px solid var(--main-color-gray);
}
.app{
 background-color: var(--main-color);
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}
.calculette{
    background-color: var(--main-color-white);
    width: 90%;
    max-width: 250px;
    display: flex;
    padding: 5px;
    border-radius: 5px;

}
.calculette > *{
    padding: 2px;
}
.flex-2{
    flex: 2;
}
.flex-1{
    flex: 1;
}
.col-calculette-1{
    max-width: 70%;
    gap: 5px;
}

/* calculette 1 col */
.col-calculette-1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* gap: 5px; */
}
.col-calculette-1 .line-calculette:nth-child(1){
    grid-column: 1/4;
}
.col-calculette-1 .line-calculette,
.col-calculette-2 .line-calculette{
    display: flex;
}
.col-calculette-1 .line-calculette > *,
.col-calculette-2 .line-calculette > *{
    flex: 1;
}
.col-calculette-1 .line-calculette:nth-child(2){
    grid-column: 1/3;
}

/* colonne 2 */
.col-calculette-2{
    max-width: 30%;
    display: grid;
    gap: 5px;
    
}
.col-calculette-2 .line-calculette input,
.col-calculette-1 .line-calculette input
{
    width: 100%;
    border: none;
    background-color: var(--main-color-screen);
    color: var(--main-color-white);
}
/* line calculette */
.line-calculette{
    height: 35px;
}
.line-calculette > *{
    border-radius: 5px;
    box-shadow: 1px 8px 16px 1px var(--main-color-screen) ;
    cursor: pointer;
    transition: 500ms;
    text-transform: uppercase;
}
.line-calculette > button:hover{
    background-color: var(--main-color);
    color: var(--main-color-white);
    transform: scale(1.1);
}
/* button */
button {
    border: 0.1px solid var(--main-color-gray);

}